body {
    margin: 0;  /* removes white space around page */
    background-color: rgb(244, 251, 255);
}

.navbar {
    width: 100%;
    height: 35px;
    background-color: rgb(10, 104, 126);
    display: flex;
    align-items: center; 
    justify-content: center;   /* centers horizontally */
    position: sticky;
    top: 0;
    z-index: 7
}



.center-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
}

.nav-right {
    margin-left: auto;
    display: flex;
    color: white;
    font-family: 'Inter', sans-serif;
}

.navbar p {
    margin: 0;
    color: white;
    font-family: 'Inter', sans-serif;
}

.homebutton {
    width: 45px;
    height: 35px;
    background-color:  rgb(10, 104, 126);
    display: flex;  
    align-items: center; 
    justify-content: center;  
    color: white;
    font-family: 'Inter', sans-serif;
}

.homebutton p {
    font-size:20px;
}

.homebutton:hover {
    background-color: #92f3f8;
}

.homebutton:hover p {
    color: rgb(53, 137, 156); 
}


.button {
    width: 140px;
    height: 35px;
    background-color: rgb(10, 104, 126);
    display: flex;  
    align-items: center; 
    justify-content: center;   
}
.button:hover {
    background-color: #92f3f8;
    cursor: pointer;
    
}


.button:hover p {
    color: rgb(53, 137, 156); 
    cursor: pointer;
}

a {
    text-decoration: none;  /* removes underline */
}


h1 {
    margin-top: 30px;
    margin-left: 70px;
    font-size: 40px;
}

.text {
    flex: 1;               
}

.photo img {
    width: 350px;          
    height: auto;    
    border-radius: 8px;  
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 70px; 
}

.seattle {
  height: 80vh;
  background-image: url("/imgs/seattle.png");
  background-size: cover;      /* fills entire section */
  background-position: center; /* keeps it centered */
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* White card */
.bg {
    display: flex;
    gap: 20px;
    width: 80%;
 
    padding: 20px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.95);;
    box-shadow: 0 20px 40px rgba(18, 70, 88, 0.6);
}


p, h2{
    font-family: 'Inter', sans-serif;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;        /* allows multiple rows */
    justify-content: center; /* centers horizontally */
    gap: 20px;              /* space between images */
    padding: 40px 0;
}

.image-gallery img {
    width: 450px;
    height: auto;
    box-shadow: 0 20px 40px rgba(123, 175, 192, 0.6);
}



/* Highlight effect on hover */
.image-gallery img:hover {
    border: 4px solid rgb(73,192,218);          /* change border color */
    box-shadow: 0 0 20px rgba(38, 215, 255, 0.6); /* glowing shadow */
    transform: scale(1.05);                  /* slight zoom effect */
    cursor: pointer;                          /* shows it’s clickable */
}

.image-gallery2 {
    display: flex;
    flex-wrap: wrap;        /* allows multiple rows */
    justify-content: center; /* centers horizontally */
    gap: 20px;              /* space between images */
    padding: 40px 0;
}

.image-gallery2 img {
    width: 600px;
    height: auto;
    box-shadow: 0 20px 40px rgba(123, 175, 192, 0.6);
}

.content {
    width: 70%;             /* limits line length */
    margin: 20px auto;      /* centers content */
    line-height: 1.6;       /* more readable line spacing */
    font-family: Arial, sans-serif;
    color: #222;
    background-color: white;
    padding: 100px;
    box-shadow: 0 20px 40px rgba(123, 175, 192, 0.6);
}

.box{
    background-color: rgba(131, 139, 140, 0.692);
    color:white;
    align-items: center;
}

.image-gallery2 figure {
    text-align: center;
}

.image-gallery2 figcaption {
    margin-top: 8px;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
}










